# Dependencies
node_modules/
/.pnp
.pnp.*

# Testing
/coverage
/playwright-report
/test-results

# Next.js
/.next/
/out/

# Production
/build
/dist

# Environment
.env
.env.*
!.env.example

# Debug
npm-debug.log*
*.log

# OS / editor
.DS_Store
.vscode/
.idea/

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Turbo
.turbo
